body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0 auto;
    padding: 3em 5em;
    max-width: 750px;
}

@media (max-width: 600px) {
    body {
        padding: 1em;
    }
}
    
@media (max-width: 400px) {
    header .back {
        left: 0.5em;
        top: 5.5em !important;
    }
    
    header h3 {
        padding-bottom: 2em !important;
    }
    
    body header.no-back-button h3 {
        padding-bottom: 0 !important;
    }
}

header {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px #c0c0c0 solid;
}

header h1, header h2 {
    margin: 0;
    padding: 0.1em 0.4em;
    display: inline-block;
    font-size: 2em;
}

header h1 {
    float: left;
}

header h2 {
    color: #58d;
    border-left: 6px #e0e0e0 solid;
}

header div {
    margin: 0;
    padding: 0 0 0.5em 0;
    border-left: 2px #e0e0e0 solid;
    background: #f8fcff; /* Old browsers */
    background: -moz-linear-gradient(left,  #f8fcff 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f8fcff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f8fcff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f8fcff 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f8fcff 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #f8fcff 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fcff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
    
header h3 {
    margin: 0;
    padding: 0.5em 0.8em;
    color: #909090;
    border-top: 2px #e0e0e0 solid;
    font-size: 16px;
}

header h3 span {
    color: #505050;
}

header p {
    margin: 1em 0;
    padding: 0 1em;
    max-width: 550px;
    font-style: italic;
}

header .back {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    margin: 0.5em 0;
    font-variant: small-caps;
}

header .back:before {
    content: "← ";
}

header a.back  {
    color: #909090;
    text-decoration: none;
}

header a.back:hover {
    color: #58d;
}

section {
    margin: 0 0 0 0;
    padding: 1em 0;
    border-right: 2px #e0e0e0 solid;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #f8fcff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#f8fcff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#f8fcff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#f8fcff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#f8fcff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#f8fcff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8fcff',GradientType=1 ); /* IE6-9 */

}

section p {
    margin: 0 1em;
}

ul {
    margin: 0.5em 1em 0 2em;
    padding: 0;
}

ul li {
    margin: 0 0 1em 0.5em;
    padding: 0;
    text-indent: -1.8em;
    list-style-type: none;
}

ul li a {
    margin: 0 0 0.1em 0;
    padding: 0 0 0 0.5em;
    color: #58d;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.6em;
}

ul li a:before {
    content: "→ ";
    color: #909090;
    font-weight: bold;
}

ul li a:hover {
    color: #505050;
    border-color: #58d;
}

footer {
    margin: 0;
    padding: 0.5em;
    border-top: 1px #c0c0c0 solid;
    font-size: 0.8em;
    text-align: right;
    color: #909090;
}

footer span {
    white-space: nowrap;
}

footer a {
    font-weight: normal;
    color: #505050;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
